width:100px;
height:100px;
left:50%;
top:50%;
border-radius:100%;
position:absolute;
cursor:pointer;
opacity:0.7;
transform:translate(-50%,-50%);
z-index:999999;
background-color:#333;
border:5px solid #333;