.chapter b {
  display: none;
}

.book .book-summary ul.summary li a{
  padding-top: 4px;
  padding-bottom: 4px;
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  transition: none;
}

.book .book-header h1 {
  opacity: 1;
}

.chapter a[href ^= './chapter'] {
  font-weight: bold;
}
