
.CABLES_animFadedOut
{
    display:none;
}


.CABLES_animFadeOut
{
    animation: CABLES_keysFadeOut $LENGTHs normal forwards ease-in-out;
}

.CABLES_animFadeIn
{
    animation: CABLES_keysFadeIn $LENGTHs normal forwards ease-in-out;
}

@keyframes CABLES_keysFadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes CABLES_keysFadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}
