name: 'tests'

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened]

jobs:
  run_test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: install dependencies
        run: |
            npm install --no-save
      - name: validate opdocs
        run: |
            npm run validate:opdocs
